.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.custom-table .thead-vermelho {
  background-color: #c42400;
  color: #fff;
}

.custom-table .thead-preto {
  background-color: black;
  color: #fff;
}

.custom-table th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.custom-table .custom-th-amarelo {
  color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-table td {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-dark {
  color: black;
}
